<!-- Estende do template base -->
{% extends "base.html" %}
<!-- Carrega a extensão para interpretar Markdown -->
{% load markdownify %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3 left top">
            <div class="card-body">
                <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
                <p class="text-muted">{{ post.date }}</p>
                <!-- `safe` é um filtro que retira qualquer coisa que pode ser prejudicial -->
                <!-- `markdownify` interpreta Markdown e formata ele corretamente -->
                <p class="card-text">{{ object.content | safe | markdownify }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}